html {
	box-sizing: border-box;
}
*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	text-align: center;
	padding-bottom: 60px;
}

button {
	cursor: grab;
}

button:active {
	cursor: grabbing;
}

h2 {
	margin-top: 3em;
}

.houpacka {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	border: none;
	background-color: transparent;
	padding: 0;
	margin-top: 40px;
}

.houpacka__zakladna {
	margin-top: -79px;
}

.kocka {
	border: none;
	background-color: transparent;
	padding: 0;
	margin-top: 40px;
}

/* ------------- pod čáru přijdou tvé styly ------------- */

.kocka:active {
	transform: scaleY(0.95);
	transform-origin: bottom;
}

.houpacka__deti {
	transform: rotate(-15deg);
	transform-origin: center 74%;
}

.houpacka:active .houpacka__deti{
	/*transform: rotate(15deg);*/
	transform: rotate(1turn);
	transition: transform 1s;
	transition-delay: 0.1s;
	transition-timing-function: linear; 
}

.kocka {
	transition-property: background-color;
	transition-duration: 1s;
}
